* {
    margin: 0;
    padding: 0;
}


html {
    background-color: azure;
}


#canvasFirst {
    border: 1px solid dodgerblue;
    background-color: lightyellow;
    text-align: center;
    width: 50%;
    height: auto;
    display: block;
}

#canvasSecond {
    width: 40%;
    height: auto;
    background-color:darkgoldenrod;
    display: block;
/*    border: 1px solid black;*/
}

canvas.canvasSmall {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    display: block;
}

#canvas3 {
    background-color: bisque;
}



img {
    width: 300px;
    height: 300px;
}


/*
button {
    margin-top: 15px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: limegreen;
    color: gold;
    font-family: cursive;
    border: 1px solid black;
}
*/

canvas:hover {
    background-color: lightblue;
}

/*
button:hover {
    background-color: lightcoral;
}
*/

